<header class="nav-container">
    
    <a href="{{  site.url }}">
        <img class="logo-box" src="{{ site.url }}/assets/img/svg/logo.svg" alt="logo">
    </a>
    
    <nav>
        <ul>
            <li>
                <a href="#text">Text</a>
            </li>
            <li>
                <a href="#ti">Text+Images</a>
            </li>
            <li>
                <a href="#colours">Colours</a>
            </li>
            <li>
                <a href="#links">Links</a>
            </li>
            <li>
                <a href="#widgets">Widgets</a>
            </li>
        </ul>
    </nav>
</header>
