@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');

body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-color: #252525;
    color: white;
}

.logo-box{
    position:relative;
    width:50px;
    height:50px;
    padding:10px;
}

#ti {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.nav-container {
      background-color: #252525;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 10px;
      min-height: 50px;
    }
    
    nav > ul {
      list-style-type: none;
      margin: 10px;
      display: inline;
      line-height: 70px; 
    }
    
    nav > ul > li {
      display: inline;
      margin: 10px;
    }

a {
    font-family: 'Montserrat', sans-serif;
    color: #db8d8d;
    text-decoration: none;
}

a:hover {
    color: #ffcccc;
}

/* h1 {
    font-family: 'Montserrat', sans-serif;
} */

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}

.img {
    margin: auto;
    align-content: center;
}

code {
    background-color:black;
    color:greenyellow;
    padding:15px;
    line-height: 42px;
}

.flex-item {
    margin-right:auto;
}

.body-copy {
    font-family: 'Montserrat', sans-serif;
}

.headline-copy {
    font-family: 'Montserrat', sans-serif;
}

article {
    width:600px;
    margin:25px;
}

article > header > h1 {
    font-size:1.8em;
}

article > header + h2 {
    margin-top:-25px;
}

article > header + p {
    margin-top:60px;
} 

section {
    margin:50px 50px;
}

.section-title {
    font-size:2em;
    border-bottom:1px solid black;
    width:100%;
    display:block;
}

.flex-container {
    display:flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.flex-item {
    margin-right:auto;
}

figure {
    border-bottom:5px solid black;
    margin:0;
    
}
figure > img.feature {
   
    margin-bottom: -5px;
}

.color-item {
    list-style-type: none;
    display:inline-block;
    width:200px;
    height:200px;
    margin:10px;
    border:1px solid black;
}

#green {
    background-color: rgb(157, 185, 147);
}

#grey {

    background-color: #252525;
}

#pink {
    background-color: #db8d8d;
}